body {
    background-color: #FEFE9F;
    text-align: center;
}

img {
    height: 300px;
    width: 350px;
}

.devour {
    height: 40px;
}

.devoured {
    background-color: grey;
}

#burgerSubmit {
    width: 140px;
    margin: 20px;
}

#burgerText {
    height: 40px;
    width: 200px;
}